<link rel="import"
      href="../bower_components/polymer/polymer.html">

<link rel="import"
      href="../bower_components/video-webcam/video-webcam.html">

<polymer-element name="app-main">

  <template>

    <audio id="sound">

      <source src="/assets/holga-shutter-release.wav">

    </audio>

    <video-webcam id="stream"
                  autoStart
                  noAudio
                  mirrorX
                  resolution="high"
                  captureCanvas="{{cap}}"
                  grayScale
                  fit>
    </video-webcam>

    <div layout horizontal center fit>

      <img id="overlay"
           src="/assets/overlays/{{overlays[overlayIndex]}}.png">

    </div>

    <div id="flash" fit></div>

    <style>

      :host{

        background-color: black;

      }

      #flash{

        transition: 1s;

        -webkit-transform: scale(1);

        opacity: 0;

        background: -webkit-radial-gradient(rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0));

      }

      #flash.flash{

        transition: 0.05s;

        -webkit-transform: scale(5);

        opacity: 1;

      }

      #overlay{

        display: block;

        width: 100%;

        height: auto;

      }

    </style>

  </template>

  <script src="app-main.js">
  </script>

</polymer-element>